body {
  padding-left: 0;
  padding-right: 0;
  font-family: sans-serif;
}
* {
  color: rgba(0, 0, 0, 0.6);
}
@media (min-width:1000px) {
  body {
    padding-left: 100px;
    padding-right: 100px;
  }
}
table,
.render-target,
.container {
  margin: 0px;
  width: 100%;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.flexrowbetween {
  display: flex;
  flex: row;
  justify-content: space-between;
  align-items: center;
}
.flexrowstart {
  display: flex;
  flex: row;
  justify-content: start;
  align-items: center;
}
.flexrowcenter {
  display: flex;
  flex: row;
  justify-content: center;
  align-items: center;
}
.flexrow {
  display: flex;
  flex: row;
}


.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.hoverbg {
  transition: all 0.2s ease-in;
}
.hoverbg:hover {
  background-color: #b3e5fc;
  transition: all 0.2s ease-in;
}
.hovershadow:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.2s ease-in;
}
.round {
  border-radius: 5px;
}
i {
  font-size: 20;
}
th {
  border-bottom: 1px solid lightgray;
  margin-bottom: 6px;
  font-weight: normal;
}
a {
  text-decoration: none;
  
}
thead > tr > th{
  font-weight: bold;
}
tr {
  text-align: left;
}